<div style="padding-top: 30px;">
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    <ng-container matColumnDef="area_name">
      <th mat-header-cell *matHeaderCellDef> Area Name </th>
      <td mat-cell *matCellDef="let element"> {{element.areaName}} </td>
    </ng-container>
  
    <ng-container matColumnDef="retail_and_recreation">
      <th mat-header-cell *matHeaderCellDef style="text-align: center;"> Retail and Recreation %&Delta;</th>
      <td mat-cell *matCellDef="let element">
        <ngx-charts-line-chart
          [view]="view"
          [scheme]="element.retail_and_recreation[0].latest >= 0 ? colorSchemeGreen : colorSchemeRed"
          [legend]="legend"
          [showXAxisLabel]="showXAxisLabel"
          [showYAxisLabel]="showYAxisLabel"
          [xAxis]="xAxis"
          [yAxis]="yAxis"
          [xAxisLabel]="xAxisLabel"
          [yAxisLabel]="yAxisLabel"
          [timeline]="timeline"
          [results]="element.retail_and_recreation"
        >
        </ngx-charts-line-chart>
      </td>
    </ng-container>
  
    <ng-container matColumnDef="grocery_and_pharmacy">
      <th mat-header-cell *matHeaderCellDef style="text-align: center;"> Grocery and Pharmacy %&Delta;</th>
      <td mat-cell *matCellDef="let element">
        <ngx-charts-line-chart
          [view]="view"
          [scheme]="element.grocery_and_pharmacy[0].latest >= 0 ? colorSchemeGreen : colorSchemeRed"
          [legend]="legend"
          [showXAxisLabel]="showXAxisLabel"
          [showYAxisLabel]="showYAxisLabel"
          [xAxis]="xAxis"
          [yAxis]="yAxis"
          [xAxisLabel]="xAxisLabel"
          [yAxisLabel]="yAxisLabel"
          [timeline]="timeline"
          [results]="element.grocery_and_pharmacy"
        >
        </ngx-charts-line-chart>
      </td>
    </ng-container>
  
    <ng-container matColumnDef="parks">
      <th mat-header-cell *matHeaderCellDef style="text-align: center;"> Parks %&Delta;</th>
      <td mat-cell *matCellDef="let element">
        <ngx-charts-line-chart
          [view]="view"
          [scheme]="element.parks[0].latest >= 0 ? colorSchemeGreen : colorSchemeRed"
          [legend]="legend"
          [showXAxisLabel]="showXAxisLabel"
          [showYAxisLabel]="showYAxisLabel"
          [xAxis]="xAxis"
          [yAxis]="yAxis"
          [xAxisLabel]="xAxisLabel"
          [yAxisLabel]="yAxisLabel"
          [timeline]="timeline"
          [results]="element.parks"
        >
        </ngx-charts-line-chart>
      </td>
    </ng-container>
  
    <ng-container matColumnDef="transit_stations">
      <th mat-header-cell *matHeaderCellDef style="text-align: center;"> Transit Stations %&Delta;</th>
      <td mat-cell *matCellDef="let element">
        <ngx-charts-line-chart
          [view]="view"
          [scheme]="element.transit_stations[0].latest >= 0 ? colorSchemeGreen : colorSchemeRed"
          [legend]="legend"
          [showXAxisLabel]="showXAxisLabel"
          [showYAxisLabel]="showYAxisLabel"
          [xAxis]="xAxis"
          [yAxis]="yAxis"
          [xAxisLabel]="xAxisLabel"
          [yAxisLabel]="yAxisLabel"
          [timeline]="timeline"
          [results]="element.transit_stations"
        >
        </ngx-charts-line-chart>
      </td>
    </ng-container>
  
    <ng-container matColumnDef="workplaces">
      <th mat-header-cell *matHeaderCellDef style="text-align: center;"> Workplaces %&Delta;</th>
      <td mat-cell *matCellDef="let element">
        <ngx-charts-line-chart
          [view]="view"
          [scheme]="element.workplaces[0].latest >= 0 ? colorSchemeGreen : colorSchemeRed"
          [legend]="legend"
          [showXAxisLabel]="showXAxisLabel"
          [showYAxisLabel]="showYAxisLabel"
          [xAxis]="xAxis"
          [yAxis]="yAxis"
          [xAxisLabel]="xAxisLabel"
          [yAxisLabel]="yAxisLabel"
          [timeline]="timeline"
          [results]="element.workplaces"
        >
        </ngx-charts-line-chart>
      </td>
    </ng-container>
  
    <ng-container matColumnDef="residential">
      <th mat-header-cell *matHeaderCellDef style="text-align: center;"> Residential %&Delta;</th>
      <td mat-cell *matCellDef="let element">
        <ngx-charts-line-chart
          [view]="view"
          [scheme]="element.residential[0].latest >= 0 ? colorSchemeGreen : colorSchemeRed"
          [legend]="legend"
          [showXAxisLabel]="showXAxisLabel"
          [showYAxisLabel]="showYAxisLabel"
          [xAxis]="xAxis"
          [yAxis]="yAxis"
          [xAxisLabel]="xAxisLabel"
          [yAxisLabel]="yAxisLabel"
          [timeline]="timeline"
          [results]="element.residential"
        >
        </ngx-charts-line-chart>
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>
